  /* 筛选 */
  .filter-area .item {
      margin-bottom: 15px;
  }

  .filter-area .item .title {
      padding: 5px 0;
      font-size: medium;
  }

  .filter-area .item .check-list a {
      text-decoration: none;
      display: inline-block;
      min-width: 65px;
  }

  .filter-area .item .check-list label {
      font-weight: 200;
      font-size: 13px;
      margin-left: 3px;
  }

  .filter-area .item .check-list a:hover {
      font-weight: 300;
  }

  .filter-area .item .check-list .cell {
      margin-right: 10px;
  }