{% extends "layout/basic.html" %}
{% block css %}
{% endblock %}
{% block content %}

<br>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-15">
        <div class="tile is-parent">
            <article class="tile is-child notification is-info">
                <p class="title">Wide tile</p>
                <p class="subtitle">Aligned with the right tile</p>
                <div class="content">
                    <!-- Content -->dede
                </div>
            </article>
        </div>
    </div>
</div>


{% endblock %}
{% block js %}
{% endblock %}